{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block body %}

    {% if wiki %}
        {{ wiki|safe }}

        <form action="{% url 'encyclopedia:edit' %}" method="get">
            {% csrf_token %}
            <input type="hidden" value="{{ name }}" name="name">
            <input type="hidden" value="{{ wiki }}" name="content">
            <input type="submit" value="Edit" class="btn btn-primary">
        </form>
        
    {% else %}
        <h2>{{ error }}</h2>
    {% endif %}
{% endblock %}